{% extends 'mailing/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow text-center">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">Пароль успешно изменен</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Ваш пароль был успешно изменен. Теперь вы можете войти в систему, используя новый пароль.
                    </p>
                    <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">Войти в систему</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}